<?php
/*
    CONFIDENTIAL FILE, SHOULD NOT EXPLOSE TO HTML
*/
abstract class ENV
{
    const DB_HOST = '127.0.0.1';
    const DB_PORT = '3306';
    const DB_USERNAME = 'root';
    const DB_PASSWORD = '';
    const DB_NAME = 'vstaff';

    const COMPANY_CODE = 'Vi36597863';
    const COMPANY_NAME = 'Vinstella Jewellery Sdn Bhd'; // BASED ON vstaff maintenance's Business Unit Name,
    const COMPANY_BRANCH_NAME = 'Penang Domestic Airport'; // BASED ON vstaff maintenance's Business Unit Name,
    const COMPANY_BRANCH_CODE = 'AL23'; // BASED ON vstaff maintenance's Business Unit Code,

    const LOGIN_PAGE_LOGO = 'images/company_logo/vinstella_logo.png';

    const API_URL = "https://dev-thor.vstaff.my/cpn/Vi36597863";
}
